.modalDialog {
	position: fixed;
	/*font-family: Arial, Helvetica, sans-serif;*/
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(0,0,0,0.8);
	z-index: 99999;
	-webkit-transition: opacity 400ms ease-in;
	-moz-transition: opacity 400ms ease-in;
	transition: opacity 400ms ease-in;
	display: none;
	pointer-events: none;
}
.modalDialog:target {
	display: block;
	pointer-events: auto;
}

.modalDialog > div {
	width: 45%;
	position: relative;
	margin: 10% auto;
	padding: 5px 20px 13px 20px;
	border-radius: 10px;
	background: #fff;
	background: -moz-linear-gradient(#fff, #999);
	background: -webkit-linear-gradient(#fff, #999);
	background: -o-linear-gradient(#fff, #999);
}
.close {
	background: #606061;
	color: #FFFFFF;
	line-height: 25px;
	position: absolute;
	right: -12px;
	text-align: center;
	top: -10px;
	width: 24px;
	text-decoration: none;
	font-weight: bold;
	-webkit-border-radius: 12px;
	-moz-border-radius: 12px;
	border-radius: 12px;
	-moz-box-shadow: 1px 1px 3px #000;
	-webkit-box-shadow: 1px 1px 3px #000;
	box-shadow: 1px 1px 3px #000;
}

.close:hover { background: #00d9ff; }
.container {
   max-width: 500px;
   height: 65vh;
   margin: 200px auto;
   padding: 20px;
   border-radius: 4px;
   background-color: #ebebeb;
   box-shadow: 0 0 3px #666;
}

h2, .field-block {
   margin-bottom: 10px;
}

.field-block label, .field-block .field {
   display: block;
   width: 100%;
}

.field-block label {
   margin-bottom: 0px;
   font-weight: bold;
}

.field-block .field {
   font-size: 16px;
   padding: 0 12px;
   line-height: 1.5;
   border-radius: 4px;
   border: 1px solid #ccc;
   box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
   transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.field-block .field:focus {
  border-color: #66afe9;
  outline: 0;
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
}

.field-block textarea {
   resize: vertical;
}

.check-text {
   font-size: 14px;
   vertical-align: top;
}

.button {
   cursor: pointer;
   font-size: 16px;
   padding: 3px 12px;
   margin-bottom: 5px;
}
button a {
     display: block; /* Ссылка как блочный элемент */
     text-align: center; /* Выравнивание по центру */
     height: 100%; /* Высота на весь слой */
    }
#loader {
   display: none;
}
button{
	width: 50%;
	/*margin: 2%;*/
	
}
@media only screen and (max-width: 760px){
    .modalDialog > div {
	width: 100vw;
    }
    .container {
   max-width: 500px;
   height: 100vh;
    }
    .field-block label, .field-block .field {
   display: block;
   width: 80vw;
    }
    textarea {
    width: 100vw;}
    button{
	width: 100vw;
	height: 10vh;
	font-size: 3vh;
    }

}